aside {
    width: 20%;
    background: rgb(50, 50, 81);
    padding: 1em;

    p.title {
        color: #758ed9;
        margin-bottom: .5em;
        font-size: 1.25rem;
        text-transform: uppercase;
    }

    &.eq {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        section.items div,
        section.weapon div.weapon-img {
            width: 29%;
            aspect-ratio: 1;
            background: rgb(58, 58, 92);
            border-radius: .5em;
            border: 2px solid #454F6B;
            display: flex;
            align-items: center;    
            justify-content: center;

            img {
                object-fit: cover;
                width: 80%;

                &[src=""] { display: none; }
            }
        }

        section.ammo {
            display: flex;
            align-items: center;

            section.wrap {
                margin-left: .5em;
                flex-grow: 1;

                section {
                    margin-bottom: .5em;

                    div.txt {
                        display: flex;
                        justify-content: space-between;

                        p {
                            font-weight: 600;
                            font-size: .9rem;
                            letter-spacing: -1px;
                        }
                    }

                    div.bar {
                        div { 
                            background: rgb(147, 147, 147);
                            height: 15px; 
                        }
                    }
                }
            }
        }

        section.health {
            p {
                font-weight: bold;
                font-size: 1.35rem;
            }

            div.bar { 
                background: rgb(48, 148, 48);
                height: 25px;
            }
        }

        section.effects section {
            div.container {
                display: flex;
                align-items: center;
                opacity: .5;
                margin-bottom: 1em;

                figure {
                    width: 30px;
                    height: 30px;
                    background: #454F6B;
                    border: 1px solid #616189;
                    border-radius: .25em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: .5em;

                    img {
                        width: 60%;
                        height: 60%;
                        object-fit: cover;
                    }
                }

                div.bar {
                    background: #454F6B;
                    height: 8px;
                    flex-grow: 1;

                    div {
                        height: 100%;
                        width: 0%;
                        background: #b0b0b0;
                    }
                }

                &.active { opacity: 1 }
            }
        }

        section.items section {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            div {
                flex-shrink: 0;
                margin-bottom: 1em;

                img { width: 60%; }
                
                &.active { border-color: rgb(114, 150, 255); }
            }
        }

        div.bar {
            border-radius: .25em;
            background: #3A3A5B;
            border: 2px solid #454F6B;

            div {
                height: 100%;
                width: 0%;
            }
        }
    }

    &.misc {
        display: flex;
        flex-direction: column;

        section.icons {
            display: flex;
            justify-content: center;

            img {
                cursor: pointer;
                width: 30px;
                height: 30px;
            }
        }

        section.menu {
            flex-grow: 1;
            margin: 2em 0;
            display: flex;
            flex-direction: column;
            justify-content: center;

            button, a {
                width: 100%; 
                margin: .25em 0;
            }
        }

        img.sound-icon {
            cursor: pointer;
            width: 20px;
            height: 20px;
        }
    }
}