body:has(section.finish-wrapper) {
    justify-content: center;

    section.finish-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            font-size: 2.5rem;
            font-weight: bold;
        }

        a {
            font-size: .9rem;
            color: #eee;
            background-color: red;
            text-decoration: none;
        }

        button {
            margin: 1em 0 2em 0;
            padding: .75em 2em;
        }
    }
}