body {
    display: flex;
    align-items: center;
    flex-direction: column;

    main {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;

        section {
            &.lvl {
                flex-direction: column;
                display: flex;
            }

            &.game {
                section.level-info {
                    margin: .75em 0 .5em 0;
                    display: flex;
                    justify-content: space-between;
                    width: 804px;
    
                    section {
                        margin-right: 2em;
    
                        h1 { 
                            font-weight: 500; 
                            border-bottom: 2px solid #ddd;
                            margin-bottom: .1em;
                        }
    
                        h2 { font-size: 1.25rem; }
                    }
                }

                canvas {
                    border: 2px solid #aaa;
                    background: #454f6c;
                }
            }
        }
    }
}